<div class="box">
    <div id="<%= dom_id post %>">
        <div class="title">
            <p>
                <strong><%= post.title %></strong>
            </p>
        </div>
        <div class="subtitle is-6">
            <% if user_signed_in? %>
            <p>Written by: <%= post.user.username %></p>
            <% end %>
        </div>
        <p><%= post.body %></p>
    </div>
</div>
